.main {
  border: 1px solid #363636;
  background-color: #4333cd;
  padding: 1.5em 2em;
  max-width: 33%;
  margin: 2em auto;
  border-radius: 20px;
  margin-top: 3rem;
}

.main h2 {
  text-align: center;
  font-size: 2.1em;
  margin-top: 0;
}

.main p {
  text-align: center;
}

select {
  width: 20rem;
  height: 2rem;
  border-radius: 20px;
}
